*{
	box-sizing: border-box;
}
body{
	background-color: rgb(50, 168, 166);
}
div{
	width: 100%
	float:left;
}
#hed{
	background-color: rgb(173, 3, 252);
	color:white;
	margin:0 auto;
}
#content{
	background-color: rgb(252, 186, 3);
	color:black;
	height: 50%;
	padding-bottom: 40px;
	margin:0 auto;
}
.box{
	width:50%;
	margin-bottom: 10px;
	background-color:black;
	color: white;
	padding-left: 10px;

}
#side{
	height: 70px;
	width:45%;
	float: right;
	background-color:black;
	color: white;
	margin-top: 20px;
	margin-right:10px;

    
}
#new{
	height: 370px;
	
}
footer{
	background-color: blue;
	color:white;
	 
}